<header class="relative">
    <div class="header-hero pb-12 h-[320px] lg:/h-[300px] lg:pb-24" style="background-position: center center">
        <div class="max-w-7xl mx-auto px-4 md:px-8">
            <section class="flex flex-col items-center justify-center w-full py-8">
                <a href="/">
                    {{ svg src="assets/statamic-logo" width="185" title="Statamic Logo" class="text-purple" }}
                </a>
                <h1 class="font-hero text-orange mt-10 text-7xl md:text-8xl">Flat Camp 2024</h1>
            </section>
        </div>
    </div>
    {{ svg src="assets/jagged" class="hidden sm:block absolute flip-y bottom-0 text-lace w-full" }}
    {{ svg src="assets/jagged-sm" class="sm:hidden absolute flip-y bottom-0 text-lace w-full" }}
</header>

<section
    class="py-8 md:pt-24 max-w-6xl mx-auto px-5 md:px-6 relative"
    x-data="{
        modalImage: {},
        modalIndex: 0,
        nextIndex: 0,
        prevIndex: 0,
        modalImages: [],
        modalIsOpen: false,
        addToModal(url, id) {
            this.modalImages.push({
                url: url,
                id: id,
            })
        },
        openModalAt(id) {
            this.modalImage = this.modalImages.find(image => image.id === id)
            this.modalIndex = this.modalImages.findIndex(image => image.id === id)
            this.nextIndex = this.modalIndex < this.modalImages.length - 1 ? this.modalIndex + 1 : 0
            this.prevIndex = this.modalIndex > 0 ? this.modalIndex - 1 : this.modalImages.length - 1
            this.modalIsOpen = true
        },
        prevModalImage() {
            let image = this.modalImages[this.prevIndex]
            this.openModalAt(image.id)
        },
        nextModalImage() {
            let image = this.modalImages[this.nextIndex]
            this.openModalAt(image.id)
        },
    }
">
    {{ svg src="assets/dashed-left" class="hidden lg:block text-tan absolute -left-[360px] -top-[115px]" }}
    <h2 class="text-green text-6xl md:text-7xl font-display text-center tracking-tight relative z-10">Gallery</h2>
    <div class="py-12 mx-auto leading-loose text-brown text-base flex flex-col space-y-6 relative z-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
            {{ assets container="assets" folder="gallery" as="images" }}
                {{ images | shuffle | chunk((images | length) / 4) }}
                    {{ chunk }}
                        {{ if first }}
                            <div class="grid gap-4">
                        {{ /if }}

                        <div
                            x-on:click="openModalAt('{{ id }}')"
                            class="pointer-events-none sm:pointer-events-auto cursor-default sm:cursor-zoom-in"
                            x-init="addToModal('{{ url }}', '{{ id }}')"
                        >
                            {{ glide:url preset="thumbnail" }}
                                <img class="h-auto max-w-full rounded-lg" loading="lazy" src="{{ url }}" width="{{ width }}" height="{{ height }}" alt="">
                            {{ /glide:url }}
                        </div>

                        {{ if last }}
                            </div>
                        {{ /if }}
                    {{ /chunk }}
                {{ /images }}
            {{ /assets }}
        </div>
    </div>


    <!-- Modal -->
    <div
        x-show="modalIsOpen"
        style="display: none"
        x-on:keydown.escape.prevent.stop="modalIsOpen = false"
        role="dialog"
        aria-modal="true"
        x-id="['modal-title']"
        :aria-labelledby="$id('modal-title')"
        class="fixed inset-0 z-10 overflow-y-auto"
    >
        <!-- Overlay -->
        <div
            x-show="modalIsOpen"
            x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50 cursor-zoom-out"
            x-on:click="modalIsOpen = false"
        ></div>

        <!-- Panel -->
        <div
            x-show="modalIsOpen" x-transition
            class="relative flex min-h-screen items-center justify-center p-4 pointer-events-none"
        >
            <div
                x-on:click.stop
                x-trap.noscroll.inert="modalIsOpen"
                class="relative overflow-y-auto rounded-xl bg-white p-8 shadow-lg"
            >
                <img
                    :src="modalImage.url"
                    class="max-h-[calc(100vh-128px)] max-w-[calc(100vw-128px)]"
                />

                <div
                    class="absolute top-0 left-0 h-full w-1/2 opacity-0 pointer-events-auto cursor-w-resize"
                    x-on:click="prevModalImage"
                >
                </div>

                <div
                    class="absolute top-0 right-0 h-full w-1/2 opacity-0 pointer-events-auto cursor-e-resize"
                    x-on:click="nextModalImage"
                >
                </div>
            </div>
        </div>
    </div>
</section>
