<header>
    <div class="header-hero pb-12">
        <div class="max-w-7xl mx-auto px-4 md:px-8">
            <section class="flex justify-center md:justify-between w-full py-16 md:h-[400px] lg:h-[500px]">
                <a href="/" class="self-start">
                    {{ svg src="assets/statamic-logo" width="185" title="Statamic Logo" class="text-ruddy" }}
                </a>
                <div class="hidden md:block details text-ruddy text-right">
                    <div class="font-hero text-xl tracking-widest">June 11-14</div>
                    <div class="font-hero text-ruddy text-sm tracking-widest">Rome, Italy</div>
                    <a href="https://www.tickettailor.com/events/statamic/1111793" class="mt-3 bg-ruddy hover:bg-purple font-display text-2xl tracking-wide antialiased px-16 py-3 uppercase inline-block rounded text-white">Buy Tickets</a>
                    <p class="text-[11px] mt-2 font-mono font-medium uppercase tracking-wider">Only <strike class="opacity-75">50</strike> 23 rooms available!</p>
                </div>
            </section>
            <section class="text-lace max-w-3xl">
                <h1 class="font-hero text-yellow-light text-shadow text-8xl md:text-[175px] leading-[80px] md:leading-[145px] text-center md:text-left">Flat<br>Camp <small class="hidden md:inline-block text-2xl relative -left-24">EU 2024</small></h1>
                <p class="mt-12 lg:ml-1 text-sm md:text-lg leading-7 md:leading-9 md:pr-32"><strong>Flat Camp</strong> is an unforgettable, relationship-focused retreat for the Statamic community. Forget the auditorium, leave the lengthy talks behind, and enjoy a private, <strong class="text-tangerine">all-inclusive</strong>, Italian countryside summit that will help shape the future of our product and community.</p>
            </section>
            <div class="md:hidden text-orange mt-12">
                <div class="flex justify-between">
                    <div>
                        <p class="text-xl">June 11-14</p>
                        <p class="text-sm">2024</p>
                    </div>
                    <div class="">
                        <p class="text-xl">Rome, Italy</p>
                        <p class="text-sm">(CIA Airport)</p>
                    </div>
                </div>
                <a href="https://www.tickettailor.com/events/statamic/1111793" class="mt-8 w-full text-center bg-ruddy hover:bg-purple font-display text-2xl tracking-wide antialiased px-16 py-3 uppercase inline-block rounded text-white">Buy Tickets</a>
                <p class="text-[11px] text-tangerine text-center mt-4 font-mono font-medium tracking-wider">Only <strike class="opacity-75">50</strike> 23 rooms available!</p>
            </div>
        </div>
    </div>
</header>

<section class="">
    {{ svg src="assets/jagged" class="hidden sm:block text-[#060606] -top-[3px] relative w-full" }}
    {{ svg src="assets/jagged-sm" class="sm:hidden text-[#060606] -top-[3px] relative w-full" }}
    <div class="max-w-7xl mx-auto px-4 md:px-8 md:pt-8 pb-20 lg:pt-20 relative">
        {{ svg src="assets/dashed-left" class="hidden lg:block text-tan absolute -left-[360px] -top-[135px]" }}
        {{ svg src="assets/dashed-right" class="hidden lg:block text-tan absolute -right-[160px] -top-[30px]" }}
        <div class="hidden md:flex items-start justify-between text-green relative z-30">
            <div>
                <h6 class="font-bold antialiased text-xs tracking-widest uppercase mb-2">Dates</h6>
                <p class="text-2xl tracking-tight">June 11-14, 2024</p>
            </div>
            <div>
                <h6 class="font-bold antialiased text-xs tracking-widest uppercase mb-2">Location</h6>
                <p class="text-2xl tracking-tight">Rome, Italy</p>
                <p class="text-xs font-light">(CIA Airport)</p>
            </div>
            <div>
                <h6 class="font-bold antialiased text-xs tracking-widest uppercase mb-2">All-Inclusive Price</h6>
                <p class="text-2xl tracking-tight">1,495&euro; per person</p>
                <p class="text-xs font-light">(Double occupancy discount available)</p>
            </div>
        </div>
    </div>
    <div class="">
        <div class="max-w-2xl lg:max-w-7xl mx-auto px-4 md:px-8 relative">
            <h2 class="text-green text-6xl lg:text-huge font-display lg:ml-44 tracking-tight relative z-10">The Experience</h2>
            <div class="mt-4 lg:mt-0 prose max-w-none leading-loose pr-4 text-brown lg:max-w-md lg:ml-64 pl-4 xl:ml-80 text-base relative z-10">
                <p>Flat Camp returns, this time heading to Europe to the countryside right outside Rome, Italy. Unlike a traditional tech conference, this event does not revolve around days jam packed with talks & slides in a big auditorium (not that there’s anything wrong with that). Instead, we’ve taken the “hallway track” and made it the main event. This is the adult version of “summer camp”.</p>
                <p>Spend time IRL with the community as we shine a light on our careers, businesses, personal lives, health & wellness, and how the future of Statamic can be shaped to serve us all best.</p>
                <p>There will be a casual Q&A session where can dive deep into Statamic's future or past, a show & tell time where you can highlight or feedback on anything you're working on, and spend the rest of our time building relationships, enjoying the grounds of our private Italian villa, and relaxing with a glass of wine.</p>
            </div>
            <aside class="lg:absolute pt-12 lg:pt-0 -rotate-[4deg] -top-8 lg:-left-96">
                <img src="/assets/la-borghesiana-1.jpg" class="" width="650" alt="La Borghesiana Romana">
                <p class="hidden lg:block font-display text-3xl text-tan text-right mt-2 mr-4">41.872490º, 12.664360º</p>
            </aside>
            <aside class="">
                <img src="/assets/colosseum.webp" class="hidden lg:block absolute -left-[320px] top-[400px]" width="600" alt="Are you not entertained by the Roman Colosseum?">
                {{ svg src="/assets/token-eu.svg" class="hidden lg:block absolute text-tangerine rotate-[25deg] -right-12 -top-12" width="136" alt="Flat Camp Token" }}
                <img src="/assets/la-borghesiana-2.jpg" class="lg:absolute rotate-[5deg] -right-16 top-24" width="430" alt="Another picture of the grounds at La Borghesiana Romana">
                <img src="/assets/la-borghesiana-3.jpg" class="lg:absolute -rotate-[6deg] -right-28 top-[320px]" width="360" alt="Yet another Another picture of the grounds at La Borghesiana Romana">
                <img src="/assets/la-borghesiana-4.jpg" class="lg:absolute -rotate-2 -right-24 top-[520px]" width="440" alt="More grounds at La Borghesiana Romana">
                <img src="/assets/la-borghesiana-5.jpg" class="hidden lg:block absolute rotate-[6deg] -right-16 top-[740px]" width="190" alt="People having fun at La Borghesiana Romana">
                <img src="/assets/pinched-fingers.webp" class="hidden lg:block absolute right-40 top-[700px]" width="318" alt="You too can learn to speak volumes with your hands">
            </aside>
        </div>
    </div>
</section>

<section class="relative pt-12 lg:pt-64 z-20">
    <div class="max-w-2xl lg:max-w-7xl mx-auto px-4 md:px-8 relative">
        <div class="flex flex-col lg:items-end w-full">
            <h2 class="text-green text-6xl lg:text-huge font-display lg:mr-52 tracking-tight relative z-10">All-Inclusive</h2>
            <div class="pr-4 text-brown max-w-2xl text-base relative z-10">
                <ul class="lg:text-xl list-disc space-y-3 mt-6 pl-4 md:pl-0 mb-8">
                    <li>3 Nights lodging in our own private Italian villa</li>
                    <li>Private chef will prepare us breakfast, lunch, and dinner</li>
                    <li>Access to all workshops, intimate talks, and wine cellar chats</li>
                    <li>Exclusive Statamic/Flat Camp swag</li>
                    <li>Other mysteries and surprises</li>
                </ul>
            </div>
        </div>
        <aside>
            <img src="/assets/la-borghesiana-6.jpg" class="lg:absolute -rotate-3 -top-8 -left-24" width="500" alt="A Room with a King Bed">
            <img src="/assets/la-borghesiana-7.jpg" class="lg:absolute rotate-3 top-[200px] -left-32" width="360" alt="Exterior view of one of the cabins">
            <img src="/assets/gnocchi.webp" class="hidden lg:block absolute top-[360px] flip-x left-32" width="260" height="260" alt="A 3D rendered plate of gnocchi">
        </aside>
    </div>
</section>

<section class="relative pt-20 lg:pt-64 z-20">
    <div class="max-w-2xl lg:max-w-6xl mx-auto px-4 lg:px-8 relative">
        <h2 class="text-green text-6xl lg:text-huge leading-none font-display tracking-tight relative">Who's Going?</h2>
        <p class="text-brown lg:ml-3">Come and ask us anything. The entire Statamic crew is going, are you?</p>
        <div class="max-w-2xl mt-12 lg:mt-24">
            <div class="bg-green text-lace inline-block">
                <div class="flex items-center">
                    <img src="/assets/avatars/jack.jpg" height="64" width="64" />
                    <span class="text-2xl lg:text-5xl leading-none antialiased flex-1 font-display px-4">Jack McDade</span>
                    <span class="font-medium tracking-widest uppercase text-right text-xs px-8">Your Host & Creator of Statamic</span>
                </div>
            </div>
            <div class="bg-green text-lace inline-block mt-2">
                <div class="flex items-center">
                    <img src="/assets/avatars/jason.jpg" height="64" width="64" />
                    <span class="text-2xl lg:text-5xl leading-none antialiased flex-1 font-display px-4">JSON Varga</span>
                    <span class="font-medium tracking-widest uppercase text-right text-xs px-8">Lead Developer @ Statamic</span>
                </div>
            </div>
            <div class="bg-green text-lace inline-block mt-2">
                <div class="flex items-center">
                    <img src="/assets/avatars/jesse.jpg" height="64" width="64" />
                    <span class="text-2xl lg:text-5xl leading-none antialiased flex-1 font-display px-4">Jesse L337</span>
                    <span class="font-medium tracking-widest uppercase text-right text-xs px-8">Developer @ Statamic</span>
                </div>
            </div>
            <div class="bg-green text-lace inline-block mt-2">
                <div class="flex items-center">
                    <img src="/assets/avatars/joshua.jpg" height="64" width="64" />
                    <span class="text-2xl lg:text-5xl leading-none antialiased flex-1 font-display px-4">Joshua Blum</span>
                    <span class="font-medium tracking-widest uppercase text-right text-xs px-8">Developer @ Statamic</span>
                </div>
            </div>
            <div class="bg-green text-lace inline-block mt-2">
                <div class="flex items-center">
                    <img src="/assets/avatars/duncan.jpg" height="64" width="64" />
                    <span class="text-2xl lg:text-5xl leading-none antialiased flex-1 font-display px-4">Duncan McClean</span>
                    <span class="font-medium tracking-widest uppercase text-right text-xs px-8">Developer @ Statamic</span>
                </div>
            </div>
            <div class="bg-green text-lace inline-block mt-2">
                <div class="flex items-center">
                    <img src="/assets/avatars/erin.jpg" height="64" width="64" />
                    <span class="text-2xl lg:text-5xl leading-none antialiased flex-1 font-display px-4">Erin Dalzell</span>
                    <span class="font-medium tracking-widest uppercase text-right text-xs px-8">RTFM Advocate @ Statamic</span>
                </div>
            </div>
        </div>
        {{ svg src="/assets/token-eu.svg" class="hidden lg:block absolute text-tangerine -rotate-[25deg] -left-40 top-80" width="136" alt="Flat Camp Token" }}
        <aside class="mt-16 lg:mt-0">
            <img src="/assets/la-borghesiana-8.jpg" class="lg:absolute -rotate-3 -top-8 -right-24" width="500" alt="A Room with a King Bed">
            <img src="/assets/la-borghesiana-9.jpg" class="lg:absolute rotate-3 top-[200px] -right-32" width="330" alt="Exterior view of one of the cabins">
            <img src="/assets/la-borghesiana-10.jpg" class="hidden lg:block absolute rotate-3 top-[320px] right-4" width="320" alt="A 3D backpack that you'll never be able to touch IRL">
        </aside>
    </div>
</section>

<section class="relative pt-20 lg:pt-40 z-20">
    <div class="max-w-2xl lg:max-w-7xl mx-auto px-4 md:px-8 relative">
        <div class="flex flex-col lg:flex-row items-start w-full">
            <div class="lg:w-2/5 order-1 lg:order-2">
                <h2 class="text-green text-6xl lg:text-huge leading-tight font-display tracking-tight relative z-10">Sponsors</h2>
                <div class="pr-4 prose text-brown text-base relative z-10">
                    <p>Sponsors help folks make Flat Camp more affordable by subsidizing the price of the ticket for folks that need it. If you're interested in helping mitigate the cost to the community, <a class="text-ruddy" href="mailto:jack@statamic.com?subject=Flat Camp Sponsorship">let us know</a>!</p>
                </div>
            </div>
            <div class="order-2 lg:order-1 w-full lg:w-3/5 lg:pr-16 pt-6 grid grid-cols-3 gap-6">
                <a href="https://ploi.io/?ref=flatcamp.com" class="flex items-center justify-center relative h-24 md:h-40 lg:h-32 transition transform animate hover:scale-[1.05]">
                    <span class="text-5xl tracking-tighter"><b>Ploi</b>.io</span>
                </a>
                <a href="https://pingu-solutions.com/?ref=flatcamp.com" class="flex items-center justify-center relative h-24 md:h-40 lg:h-32 transition transform animate hover:scale-[1.05]">
                    <img src="/assets/sponsors/pingu.svg" alt="Pingu Solutions Logo" />
                </a>
                <a href="https://codetopia.de/en/?ref=flatcamp.com" class="flex items-center justify-center relative h-24 md:h-40 lg:h-32 transition transform animate hover:scale-[1.05]">
                    <img src="/assets/sponsors/codetopia.svg" alt="Codetopia Logo" />
                </a>
                <div class="flex items-center justify-center relative h-24 md:h-40 lg:h-32">
                    {{ svg src="assets/circle-1-dashed" class="absolute top-0 left-0 text-tan flip-x -rotate-[18deg] h-24 md:h-40 lg:h-32 w-full" }}
                    <span class="font-display text-green">YOUR LOGO HERE?</span>
                </div>
            </div>
        </div>
    </div>
</section>
