<header class="relative">
    <div class="header-hero pb-12 h-[320px] lg:/h-[300px] lg:pb-24" style="background-position: center center">
        <div class="max-w-7xl mx-auto px-4 md:px-8">
            <section class="flex flex-col items-center justify-center w-full py-8">
                <a href="/">
                    {{ svg src="assets/statamic-logo" width="185" title="Statamic Logo" class="text-ruddy" }}
                </a>
                <h1 class="font-hero text-yellow-light mt-10 text-5xl text-center sm:text-left sm:text-7xl md:text-8xl">Flat Camp EU 2024</h1>
            </section>
        </div>
    </div>
    {{ svg src="assets/jagged" class="hidden sm:block absolute flip-y bottom-0 text-lace w-full" }}
    {{ svg src="assets/jagged-sm" class="sm:hidden absolute flip-y bottom-0 text-lace w-full" }}
</header>

<section class="py-8 md:pt-24 max-w-3xl mx-auto px-5 md:px-6 relative">
    {{ svg src="assets/dashed-left" class="hidden lg:block text-tan absolute -left-[560px] -top-[115px]" }}
    <h2 class="text-green text-6xl md:text-7xl font-display text-center tracking-tight relative z-10">{{ title }}</h2>
    <div class="py-12 prose prose-green mx-auto leading-loose text-brown text-base flex flex-col space-y-6 relative z-10">
        {{ content | markdown }}
    </div>
</section>
